@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 550;
}

.col a {
  text-decoration: none;
  color: rgb(102, 90, 182);
}
html{
  scroll-behavior: smooth;
}

.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #205e43; /* Set your desired background color */
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: #f8f8f8;
  text-decoration: none;
  font-size: 30px;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
/* -----------Nav css for the popup sidemenu------- */
    nav .fas{
    display: flex;
    font-size: 35px;
    color: #fff;
}
    nav .fas:hover{
        color: #ff004f;
        transition: 0.5s;
        cursor: pointer;
    }
    nav ul {
        background: rgba(32, 94, 67, 0.9); /* Here, the fourth value (0.8) represents the opacity (0 = fully transparent, 1 = fully opaque) */
        position: fixed;
        top: 0;
        right: -500px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
  /* ----- CSS FOR THE BACK BUTTON --------- */
  .menu-back-btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    background-color: #205e43;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    font-weight: bold;
    font-size: 22px;
    font-weight: 500;
  }
  .menu-back-btn:hover{
    border: 1px solid #205e43;
    background: #d8d5d5;
    color: #000;
  
  }
/* ------------Footer Section ----------------------------- */
.foot{
  background-color: #e8e3d1;
}
h4 {
  margin-top: 10px;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
}

.footer {
  max-width: 1216px;
  margin: 0 auto;
  position: relative;
  font-weight: 800;
  margin-bottom: auto;
}

.mb-20 {
  margin-bottom: 20px !important;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}
#copyright{
  padding-bottom: 30px;
}
.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.list-unstyled a {
  margin-bottom: 7px;
  font-size: 25px;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  
}

.text-fine{
  font-size: 25px;
  color: darkslateblue;
}

.d-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/** Social media Icons **/
.socials{
  text-align: center;
  background-color: #d8b542;
}

.fa {
  font-size: 3em; /* Set the icon size */
  padding: 7px; /* Add some space around the icon */
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 3%;
  margin-right: 3%; /* Add some space between the icons */
  text-decoration: none; /* Remove the underline from the links */
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7; /* Make the icon slightly transparent on hover */
}

/* Set a specific color for each icon */
.fa-instagram {
  color: #e4405f; /* Use the Instagram brand color */
}

.fa-facebook {
  color: #3b5998; /* Use the Facebook brand color */
}

.fa-twitter {
  color: #55acee; /* Use the Twitter brand color */
}

.fa-envelope {
  color: #d44638; /* Use a red color for the email icon */
}

.fa-map-marker {
  color: #4caf50; /* Use a green color for the location icon */
}

.fa-phone {
  color: #2196f3; /* Use a blue color for the phone icon */
}

@media (max-width: 767px) {
.flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
}

@media (min-width: 768px) {
.s1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
}

@media (min-width: 768px) {
.s2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}

/* Use media queries to make the icons responsive */
@media screen and (max-width: 600px) {
  .fa {
    font-size: 1.5em; /* Reduce the icon size for smaller screens */
    padding: 5px; /* Reduce the space around the icon for smaller screens */
    margin: 12px; /* Reduce the space between the icons for smaller screens */
  }
}

/* ----------------Media Quarries ------------------- */
